Flask
Jinja2
MarkupSafe
Werkzeug
click
colorama
itsdangerous
joblib
logistic-regression-LETHORAS
numpy
pandas
pip
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
sklearn
threadpoolctl
wheel